---
import { Debug } from 'astro/components';
import Layout from '../../layouts/Layout.astro';

import getGames from '../../utils/getGames';

import getGame from '../../utils/getGame';

const { game } = Astro.params;
export async function getStaticPaths() {
  const games = await getGames();
  return games?.map((game) => ({ params: { game: game.slug } })) ?? [];
}
const gameData = await getGame(game);
---

<Layout title="Games">
  <Debug {gameData} />
  <h1>{game}</h1>
  <iframe
    id="game-element"
    allowfullscreen="true"
    allow="autoplay; fullscreen; camera; focus-without-user-activation *; monetization; gamepad; keyboard-map *; xr-spatial-tracking; clipboard-write; web-share; accelerometer; magnetometer; gyroscope"
    name="gameFrame"
    scrolling="no"
    sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-scripts allow-same-origin allow-downloads"
    src={gameData.iframeLink}
    title="Game"
  >
  </iframe>
</Layout>
