---
import Layout from '../../layouts/Layout.astro';

import getGames from '../../utils/getGames';

const { game } = Astro.params;
export async function getStaticPaths() {
  const games = await getGames();
  return games?.map((game) => ({ params: { game: game.slug } })) ?? [];
}
---

<Layout title="Games">
  <h1>{game}</h1>
</Layout>
