{
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "**/*.+(scss|css|jsx)",
      "options": {
        "singleQuote": false,
        "tabWidth": 4
      }
    },
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro",
        "proseWrap": "preserve"
      }
    }
  ]
}

