---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="About">
  <div class="container mx-auto p-4 md:p-8">
    <h1 class="text-4xl text-center mb-4">¿Qué son los juegos en el navegador?</h1>
    <p class="text-lg text-gray-700 text-justify">
      Los juegos en el navegador son una forma de entretenimiento digital que ha ganado popularidad en los últimos años.
      Se trata de aplicaciones web que puedes disfrutar directamente desde tu navegador web, sin necesidad de descargar
      o instalar software adicional en tu dispositivo.
    </p>
    <p class="text-lg text-gray-700 text-justify">
      Estos juegos hacen uso de tecnologías como JavaScript, HTML y CSS para ofrecer experiencias interactivas y
      emocionantes. Desde los clásicos juegos de puzzle hasta complejas aventuras en línea, los juegos en el navegador
      ofrecen una amplia variedad de géneros para todos los gustos.
    </p>
    <p class="text-lg text-gray-700 text-justify">
      La evolución de HTML5 ha sido clave en el desarrollo de estos juegos, permitiendo gráficos más avanzados, mejor
      rendimiento y una experiencia de usuario más fluida. Además, la capacidad de los navegadores modernos para
      ejecutar aplicaciones web de manera eficiente ha contribuido al crecimiento de este mercado.
    </p>
    <p class="text-lg text-gray-700 text-justify">
      En este sitio web, te ofrecemos información detallada sobre los juegos en el navegador. Descubre sus
      características, ventajas y desventajas, explora ejemplos y encuentra las últimas noticias y tendencias
      relacionadas con este apasionante mundo de los juegos en línea.
    </p>
  </div>
</Layout>
