---


---

</style>
<header>
    <div class="container mx-auto">
        <!--<a class="logo" href="/">-->
        <!--    <svg>&lt;!&ndash; SVG Logo goes here &ndash;&gt;</svg></a>-->
        <nav class="p-0.5">
            <div class="outline outline-offset-2 outline-blue-500 rounded-xl">
                <a class="" href="/">Home</a></div>
            <div><a href="/about">About</a></div>
        </nav>
    </div>
</header>
